body
{
font-size:75%;
background-color:#111111;
color:#CCCCCC;
margin:10px;
}

h1 {font-size:200%};
h2 {font-size:140%};
h3 {font-size:110%};

th {background-color:#ADD8E6;}

ul {list-style:circle;}
ol {list-style:upper-roman;}

a:link {color:#DDDDDD;}
a:hover {color:#red;}

#header
{
	width:100%;
	float:left;
	color:#EEEEEE;
	background:#AAAAAA
}
#menus
{
	width:20%;
	float:left;
	color:#EEEEEE;
	background:#AAAAAA
}
#content
{
	width:80%;
	float:left;
	color:#111111;
	background:#FFFFFF
}

DIV.feedUser{
	width:100%;
	float:left;
	text-decoration:underline;
	color:#222222
}

DIV.feedTopic{
	width:70%;
	float:left;
	color:#222288
}

DIV.feedCreated{
	width:30%;
	float:right;
	color:#2222DD
}

DIV.feedEntry{
	width:250;
	float:right;
	color:#2222DD
}

DIV.feed{
	width:260;
	float:right;
}
