body
{
	background-color:#111111;
	color:#CCCCCC;
	margin:10px;
}

h1 {font-size:200%};
h2 {font-size:140%};
h3 {font-size:110%};

th {background-color:#ADD8E6;}

ul {list-style:circle;}
ol {list-style:upper-roman;}

a:link {color:#DDDDDD;}
a:hover {color:#red;}

#header
{
	width:100%;
	height: 200px;
	float:left;
	color:#EEEEEE;
	background:#AAAAAA;
	text-align:center;
}

#header-project
{
	width:100%;
	height: 75%;
	float: left;
	color: #EEEEEE;
	background:#AAAAAA;
	-moz-background:#AAAAAA;
	text-align: center;
	font-weight: bold;
	font-size: 60px;	
}

#header-title
{
	width: 100%;
	height: 75%;
	float: left;
	color: #EEEEEE;
	background: #AAAAAA;
	-moz-background: #AAAAAA;
	text-align: center;
	font-weight: normal;
	font-size: 30px;
}

#menus
{
	width:20%;
	height: 100%;
	float:left;
	color:#EEEEEE;
	background:#AAAAAA;
}

#menu-item
{
	border: #cccccc 4px inset;
	padding-left: 10px;
	font-weight: bold;
	font-size: 20px;
}

#content
{
	width:80%;
	float:left;
	color:#111111;
	background:#AAAAAA;
}
