body
{
	font-size:75%;
	background-color:#111111;
	color:#CCCCCC;
	margin:10px;
}

h1 {font-size:200%};
h2 {font-size:140%};
h3 {font-size:110%};

th {background-color:#ADD8E6;}

ul {list-style:circle;}
ol {list-style:upper-roman;}

a:link {color:#DDDDDD;}
a:hover {color:#red;}

#header
{
	width:100%;
	height: 200px;
	float:left;
	color:#EEEEEE;
	background:#AAAAAA;
	text-align:center;
	font-size: 30px;
}
#menus
{
	width:20%;
	float:left;
	color:#EEEEEE;
	background:#AAAAAA;
}
#content
{
	width:80%;
	float:left;
	color:#111111;
	background:#FFFFFF;
}
